@media (max-width: 860px) {
  .container__left {
    width: 100%;
    gap:1rem;

  }
  .container__right {
    width: 100%;
  }
  .card-versus__container {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .versus-top {
    /* flex-direction: column; */
  }
  #score_points{
    font-size: .8rem;
    display: block;
  }
}
